.Todo {
    display: grid;
    place-items: center;
    /* height: 100vh; */
}

.Todo2 {
    display: grid;
    place-items: center;
    /* height: 100vh; */
}

.Titulo{
    text-align: center;
    color: rgb(253, 253, 240);
    padding: 15px;
    background-color: rgb(233, 197, 37); 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 50px;
    font-size: 30px;
}

.Titulo2{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px;
    background-color: rgb(50, 108, 175); 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
}

.Departamento1{
    text-align: center;
    color: rgb(253, 253, 240);
    padding: 15px;
    background-color: rgb(233, 197, 37); 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.Departamento2{
    text-align: center;
    color: rgb(253, 253, 240);
    padding: 15px;
    background-color: rgb(233, 197, 37); 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.Departamento3{
    text-align: center;
    color: rgb(253, 253, 240);
    padding: 15px;
    background-color: rgb(233, 197, 37); 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.Departamento4{
    text-align: center;
    color: rgb(253, 253, 240);
    padding: 15px;
    background-color: rgb(233, 197, 37); 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.Departamento5{
    text-align: center;
    color: rgb(253, 253, 240);
    padding: 15px;
    background-color: rgb(233, 197, 37); 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

.VOLVER {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

/* PAGINAS ADICIONALES */

/*-------- BOLIVAR --------*/
.TituloBolivar{
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.InfoBolivar {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.ImagenBolivar {
    text-align: right;
}

.Caracteristica1 {
    display: grid;
    place-items: center;
    
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

.EconomiaBolivar {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

/*-------- ANTIOQUIA --------*/

.TituloAntioquia{
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.InfoAntioquia {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.ImagenAntioquia {
    text-align: right;
}

.Caracteristica2 {
    display: grid;
    place-items: center;
    
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

.EconomiaAntioquia {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

/*-------- BOYACA --------*/

.TituloBoyaca{
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.InfoBoyaca {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.ImagenBoyaca {
    text-align: right;
}

.Caracteristica3 {
    display: grid;
    place-items: center;
    
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

.EconomiaBoyaca {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #F2DBAE; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

/*-------- CALDAS --------*/

.TituloCaldas{
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #9CB057; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.InfoCaldas {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #9CB057; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.ImagenCaldas {
    text-align: right;
}

.Caracteristica4 {
    display: grid;
    place-items: center;
    
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #9CB057; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

.EconomiaCaldas {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #9CB057; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
/*-------- SANTANDER --------*/

.TituloSantander{
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #9CB057; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.InfoSantander {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #9CB057; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}
.ImagenSantander {
    text-align: right;
}

.Caracteristica5 {
    display: grid;
    place-items: center;
    
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 25px;
    /*
    padding: 15px;
    */
    background-color: #9CB057; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}

.EconomiaSantander {
    text-align: center;
    color: rgb(253, 253, 240);
    padding-left: 20%;
    padding-right: 20%;
    /*
    padding: 15px;
    */
    background-color: #9CB057; 
    max-width: 50%;
    border: 2px rgb(48, 114, 177);
    border-radius: 10px;
    margin: 20px;
}